@CHARSET "ISO-8859-1";

/* CSS Selectors
	:link - Style for a unvisited link
	:visited - Style for a visited link
	:hover - Style for mouseover
	:active - Style for mousedown
	:checked - Style checked input elements
	:disabled - Style disabled input elements
	:enabled - Style enabled input elements
	::first-letter - Style first letter of p element
	:focus - Style input element that has focus
	:invalid - Style input elements with invalid value

*/

.mybutton_dark {
	margin: 0px 0px; /* top&bottom(3) right&left */
	padding: 5px 9px 5px 9px; /* top right bottom left */
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
	outline: 0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-shadow: 0px -1px 0px #454545;
	color: #dfdfdf;
	background: #6b6b6b;
	background-image: -webkit-linear-gradient(top, #6b6b6b, #4f4f4f);
	background-image: -moz-linear-gradient(top, #6b6b6b, #4f4f4f);
	background-image: -ms-linear-gradient(top, #6b6b6b, #4f4f4f);
	background-image: -o-linear-gradient(top, #6b6b6b, #4f4f4f);
	background-image: linear-gradient(to bottom, #6b6b6b, #4f4f4f);
	border: solid #3f3f3f 1px;
	border-top: 1px solid #828282;
	border-bottom: 1px solid #262626;
	-webkit-box-shadow: 0px 1px 0px #828282;
	-moz-box-shadow: 0px 1px 0px #828282;
	box-shadow: 0px 1px 0px #828282;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
} .mybutton_dark:hover {
	color: #ffffff;
	border-top: 1px solid #bebebe;
	background: #9e9e9e;
	background-image: -webkit-linear-gradient(top, #9e9e9e, #707070);
	background-image: -moz-linear-gradient(top, #9e9e9e, #707070);
	background-image: -ms-linear-gradient(top, #9e9e9e, #707070);
	background-image: -o-linear-gradient(top, #9e9e9e, #707070);
	background-image: linear-gradient(to bottom, #9e9e9e, #707070);
	text-decoration: none;
} .mybutton_dark:active {
	background: #333333;
	background-image: -webkit-linear-gradient(top, #333333, #262626);
	background-image: -moz-linear-gradient(top, #333333, #262626);
	background-image: -ms-linear-gradient(top, #333333, #262626);
	background-image: -o-linear-gradient(top, #333333, #262626);
	background-image: linear-gradient(to bottom, #333333, #262626);
	border-top: 1px solid #191919;
	border: solid #191919 1px;
	/*border-bottom: 1px solid #646464; Border Bottom hell hervorheben oder nicht, hmm... */
	-webkit-box-shadow: 0px 0px 0px #828282;
	-moz-box-shadow: 0px 0px 0px #828282;
	box-shadow: 0px 0px 0px #828282;
	box-shadow: inset 0px 2px 5px #191919;
	text-decoration: none;
} .mybutton_dark:focus {
	border: 1px solid white;
}

.mybutton_dark_flat {
	margin: 3px 0px; /* top&bottom right&left */
	padding: 5px 9px 5px 9px; /* top right bottom left */
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
	outline: 0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-shadow: 0px -1px 0px #454545;
	color: #dfdfdf;
	text-decoration: none;
	background: rgba(0,0,0,0);
	border: solid rgba(0,0,0,0) 1px; /* Die transparente Border verhindert das verrutschen des Buttons bei hover */
} .mybutton_dark_flat:hover {
	color: #ffffff;
	background: #6b6b6b;
	background-image: -webkit-linear-gradient(top, #6b6b6b, #4f4f4f);
	background-image: -moz-linear-gradient(top, #6b6b6b, #4f4f4f);
	background-image: -ms-linear-gradient(top, #6b6b6b, #4f4f4f);
	background-image: -o-linear-gradient(top, #6b6b6b, #4f4f4f);
	background-image: linear-gradient(to bottom, #6b6b6b, #4f4f4f);
	border: solid #3f3f3f 1px;
	border-top: 1px solid #828282;
	border-bottom: 1px solid #262626;
	-webkit-box-shadow: 0px 1px 0px #828282;
	-moz-box-shadow: 0px 1px 0px #828282;
	box-shadow: 0px 1px 0px #828282;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
} .mybutton_dark_flat:active {
	background: #333333;
	background-image: -webkit-linear-gradient(top, #333333, #262626);
	background-image: -moz-linear-gradient(top, #333333, #262626);
	background-image: -ms-linear-gradient(top, #333333, #262626);
	background-image: -o-linear-gradient(top, #333333, #262626);
	background-image: linear-gradient(to bottom, #333333, #262626);
	border-top: 1px solid #191919;
	border: solid #191919 1px;
	/*border-bottom: 1px solid #646464; Border Bottom hell hervorheben oder nicht, hmm... */
	-webkit-box-shadow: 0px 0px 0px #828282;
	-moz-box-shadow: 0px 0px 0px #828282;
	box-shadow: 0px 0px 0px #828282;
	box-shadow: inset 0px 2px 5px #191919;
	text-decoration: none;
} .mybutton_dark_flat:focus {
	border: 1px solid white;
}

/* GREEN */

.mybutton_green {
	margin: 0px 0px; /* top&bottom right&left */
	padding: 5px 9px 5px 9px;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
	outline: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-shadow: 0px -1px 0px #454545;
	color: #e9e9e9;
	background: #8fc369;
	background-image: -webkit-linear-gradient(top, #8fc369, #299900);
	background-image: -moz-linear-gradient(top, #8fc369, #299900);
	background-image: -ms-linear-gradient(top, #8fc369, #299900);
	background-image: -o-linear-gradient(top, #8fc369, #299900);
	background-image: linear-gradient(to bottom, #8fc369, #299900);
	border: solid #144C00 1px;
	border-top: 1px solid #a2d58e;
	border-bottom: 1px solid #103c00;
	-webkit-box-shadow: 0px 1px 0px #828282;
	-moz-box-shadow: 0px 1px 0px #828282;
	box-shadow: 0px 1px 0px #828282;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
}

.mybutton_green:hover {
	color: #ffffff;
	border-top: 1px solid #c2e4b6;
	background: #a2e465;
	background-image: -webkit-linear-gradient(top, #a2e465, #66b61f);
	background-image: -moz-linear-gradient(top, #a2e465, #66b61f);
	background-image: -ms-linear-gradient(top, #a2e465, #66b61f);
	background-image: -o-linear-gradient(top, #a2e465, #66b61f);
	background-image: linear-gradient(to bottom, #a2e465, #66b61f);
	text-decoration: none;
}

.mybutton_green:active {
	background: #236617;
	background-image: -webkit-linear-gradient(top, #236617, #405731);
	background-image: -moz-linear-gradient(top, #236617, #405731);
	background-image: -ms-linear-gradient(top, #236617, #405731);
	background-image: -o-linear-gradient(top, #236617, #405731);
	background-image: linear-gradient(to bottom, #236617, #405731);
	border-top: 1px solid #191919;
	border: solid #191919 1px;
	/* border-bottom: 1px solid #4e6a3c; Helle Border Bottom*/
	-webkit-box-shadow: 0px 0px 0px #828282;
	-moz-box-shadow: 0px 0px 0px #828282;
	box-shadow: 0px 0px 0px #828282;
	box-shadow: inset 0px 2px 5px #191919;
	text-decoration: none;
}

.mybutton_green:focus {
	border: 1px solid white;
}

/* RED */

.mybutton_red {
	margin: 0px 0px; /* top&bottom right&left */
	padding: 5px 9px 5px 9px;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
	outline: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-shadow: 0px -1px 0px #454545;
	color: #e9e9e9;
	background: #CC0000;
	background-image: -webkit-linear-gradient(top, #CC0000, #990000);
	background-image: -moz-linear-gradient(top, #CC0000, #990000);
	background-image: -ms-linear-gradient(top, #CC0000, #990000);
	background-image: -o-linear-gradient(top, #CC0000, #990000);
	background-image: linear-gradient(to bottom, #CC0000, #990000);
	border: solid #4C1717 1px;
	border-top: 1px solid #D44040;
	border-bottom: 1px solid #280d0d;
	-webkit-box-shadow: 0px 1px 0px #828282;
	-moz-box-shadow: 0px 1px 0px #828282;
	box-shadow: 0px 1px 0px #828282;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
}

.mybutton_red:hover {
	color: #ffffff;
	border-top: 1px solid #e07474;
	background: #ff2b2b;
	background-image: -webkit-linear-gradient(top, #ff2b2b, #CC0000);
	background-image: -moz-linear-gradient(top, #ff2b2b, #CC0000);
	background-image: -ms-linear-gradient(top, #ff2b2b, #CC0000);
	background-image: -o-linear-gradient(top, #ff2b2b, #CC0000);
	background-image: linear-gradient(to bottom, #ff2b2b, #CC0000);
	text-decoration: none;
}

.mybutton_red:active {
	background: #810000;
	background-image: -webkit-linear-gradient(top, #810000, #520000);
	background-image: -moz-linear-gradient(top, #810000, #520000);
	background-image: -ms-linear-gradient(top, #810000, #520000);
	background-image: -o-linear-gradient(top, #810000, #520000);
	background-image: linear-gradient(to bottom, #810000, #520000);
	border-top: 1px solid #5C3737;
	border: solid #3E0000 1px;
	border-bottom: 1px solid #260000;
	-webkit-box-shadow: 0px 0px 0px #828282;
	-moz-box-shadow: 0px 0px 0px #828282;
	box-shadow: 0px 0px 0px #828282;
	box-shadow: inset 0px 2px 5px #191919;
	text-decoration: none;
}

.mybutton_red:focus {
	border: 1px solid white;
}

/* TOGGLE BUTTON GROUPS */
/* (bzw. Comboboxes auf kleinen Bildschirmen) */

.mybuttongroup {
	height: 32px;
	display: inline;
} .mybuttongroup:before {
	content: attr(grouplabel);
	margin-right: 5px;
	cursor: default;
	font-size: 14px;
}

.groupelem {
	margin: 0 -2px; /* negative margin links und rechts */
	padding: 5px 9px 5px 9px;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
	outline: 0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-shadow: 0px -1px 0px #454545;
	color: #dfdfdf;
	background: #6b6b6b;
	background-image: -webkit-linear-gradient(top, #6b6b6b, #4f4f4f);
	background-image: -moz-linear-gradient(top, #6b6b6b, #4f4f4f);
	background-image: -ms-linear-gradient(top, #6b6b6b, #4f4f4f);
	background-image: -o-linear-gradient(top, #6b6b6b, #4f4f4f);
	background-image: linear-gradient(to bottom, #6b6b6b, #4f4f4f);
	border: solid #3f3f3f 1px;
	border-top: 1px solid #828282;
	border-bottom: 1px solid #262626;
	border-right: 1px solid #3f3f3f;
	-webkit-box-shadow: 0px 1px 0px #828282;
	-moz-box-shadow: 0px 1px 0px #828282;
	box-shadow: 0px 1px 0px #828282;
	text-decoration: none;
} .groupelem:hover {
	color: #ffffff;
	border-top: 1px solid #bebebe;
	background: #9e9e9e;
	background-image: -webkit-linear-gradient(top, #9e9e9e, #707070);
	background-image: -moz-linear-gradient(top, #9e9e9e, #707070);
	background-image: -ms-linear-gradient(top, #9e9e9e, #707070);
	background-image: -o-linear-gradient(top, #9e9e9e, #707070);
	background-image: linear-gradient(to bottom, #9e9e9e, #707070);
	text-decoration: none;
} .groupelem:active {
	background: #333333;
	background-image: -webkit-linear-gradient(top, #333333, #262626);
	background-image: -moz-linear-gradient(top, #333333, #262626);
	background-image: -ms-linear-gradient(top, #333333, #262626);
	background-image: -o-linear-gradient(top, #333333, #262626);
	background-image: linear-gradient(to bottom, #333333, #262626);
	border-top: 1px solid #191919;
	border: solid #191919 1px;
	/*border-bottom: 1px solid #646464; Border Bottom hell hervorheben oder nicht, hmm... */
	box-shadow: inset 0px 2px 5px #191919;
	text-decoration: none;
} .mybuttongroup input:checked + label a {
	background: #333333;
	background-image: -webkit-linear-gradient(top, #333333, #262626);
	background-image: -moz-linear-gradient(top, #333333, #262626);
	background-image: -ms-linear-gradient(top, #333333, #262626);
	background-image: -o-linear-gradient(top, #333333, #262626);
	background-image: linear-gradient(to bottom, #333333, #262626);
	border-top: 1px solid #191919;
	border: solid #191919 1px;
	/*border-bottom: 1px solid #646464; Border Bottom hell hervorheben oder nicht, hmm... */
	box-shadow: inset 0px 2px 5px #191919;
	text-decoration: none;
} .mybuttongroup input[type="radio"] {
	display: none;
} .mybuttongroup label {
	margin: 0;
	padding: 0;
}

.mybuttongroup .left {
	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
}

.mybuttongroup .middle {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-left: 1px solid #828282;
} .mybuttongroup .middle:active {
	border-left: 1px solid #191919;
}

.mybuttongroup .right {
	-webkit-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
	border-left: 1px solid #828282;
} .mybuttongroup .right:active {
	border-left: 1px solid #191919;
}

.groupelem_input { /* Style fuer Text- und Suchfelder als Teil einer Buttongroup */
	margin: 0px -2px;
	padding: 5px 9px;
	height: 32px;
	display: inline-block;
	-webkit-appearance: textfield;
	background: #E8E8E8;
	font-size: 14px;
	border: 1px solid #3f3f3f;
	border-top: 1px solid #828282;
	border-bottom: 1px solid #262626;
	outline: 0;
	box-shadow: inset 0px 5px 10px #c0c0c0;
	-webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
	transition: width 0.5s;
} .groupelem_input:focus {
	background: white;
} .groupelem_input:valid {
	background: white;
	-webkit-box-shadow: 0px 1px 1px #232323;
	-moz-box-shadow: 0px 1px 1px #232323;
	box-shadow: 0px 1px 1px #232323;
}

.groupelem_input.left {
	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
}

.groupelem_input.middle {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.groupelem_input.right {
	-webkit-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
}

@media screen and (max-width: 1330px), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
	/* ZUSAETZLICHER CODE FUER MITTELGROSSE BILDSCHIRME */
	/* Ersetze hier Buttongroups durch Dropdownmenus */
	.mybuttongroup * {
		display: none;
	} .mybuttongroup {
		margin: 0 5px;
		padding: 5px 9px;
/* 		width: 100px; */
		height: 19px;
		cursor: default;
		display: inline-block;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		cursor: default;
		outline: 0;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		text-shadow: 0px -1px 0px #454545;
		color: #dfdfdf;
		background: none;
		border: none;
		-webkit-box-shadow: 0 0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border: solid rgba(0,0,0,0) 1px;
		text-decoration: none;
		overflow: visible;
	} .mybuttongroup:before {
		font-size: 12px;
	} .mybuttongroup:after {
		content: "\25BC";
		font-size: 10px;
	} .mybuttongroup:hover:after {
		content: "";
	} .mybuttongroup:hover {
		background-image: -webkit-linear-gradient(top, #333333, #262626);
		background-image: -moz-linear-gradient(top, #333333, #262626);
		background-image: -ms-linear-gradient(top, #333333, #262626);
		background-image: -o-linear-gradient(top, #333333, #262626);
		background-image: linear-gradient(to bottom, #333333, #262626);
		border-top: 1px solid #191919;
		border: solid #191919 1px;
		-webkit-box-shadow: 0px 0px 0px #828282;
		-moz-box-shadow: 0px 0px 0px #828282;
		box-shadow: 0px 0px 0px #828282;
		box-shadow: inset 0px 2px 5px #191919;
	} .mybuttongroup:hover label {
		display: block;
	} .mybuttongroup .groupelem {
		position: relative;
		top: 5px;
		left: -8px;
		display: block;
		background: white;
		color: black;
		overflow: hidden;
		border: 0;
		-webkit-box-shadow: 0 0;
		-moz-box-shadow: 0 0;
		box-shadow: 0 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		text-shadow: 0 0;
	} .mybuttongroup .groupelem:hover {
		background: lightgrey;
		-webkit-box-shadow: 0 0;
		-moz-box-shadow: 0 0;
		box-shadow: 0 0;
	} .mybuttongroup input:checked + label a {
		background: #333;
		color: white;
		border: 0px solid black;
		-webkit-box-shadow: 0 0;
		-moz-box-shadow: 0 0;
		box-shadow: 0 0;
	} .mybuttongroup input:checked + label a:hover {
		background: black;
		color: white;
	} .mybuttongroup .right:active {
		border: 0;
	} .mybuttongroup .middle:active {
		border: 0;
	} .mybuttongroup .groupelem:after {
		content: attr(data-tooltip);
		font-size: 12px;
		color: grey;
		text-shadow: 0 0;
		background: none;
		display: inline;
		position: relative;
	    -webkit-border-radius: 0;
	    -moz-border-radius   : 0;
	    border-radius        : 0;
	    opacity: 1;
		-webkit-box-shadow: 0 0;
		-moz-box-shadow: 0 0;
		box-shadow: 0 0;
	} .mybuttongroup .groupelem:hover:after {
		bottom: 0;
	    left: 0;
	    display: inline;
		-webkit-box-shadow: 0 0;
		-moz-box-shadow: 0 0;
		box-shadow: 0 0;
	} .mybuttongroup input:checked + label a:after {
		color: white;
	}
}

@media screen and (max-width: 750px), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
	.mybuttongroup:before {
		font-size: 40px;
	} .mybuttongroup:after {
		content: "\25BC";
		font-size: 20px;
	} .mybuttongroup .groupelem:after {
		font-size: 40px;
	}
}