<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

  <display-name>Welcome to Tomcat</display-name>
  <description>
     Welcome to Tomcat
  </description>
  

  <!-- Servlet-Mappings hinzfuegen -->
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.sopra.team1723.ctrl.AdminServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>FileUploadServlet</servlet-name>
    	<servlet-class>com.sopra.team1723.ctrl.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BenutzerServlet</servlet-name>
        <servlet-class>com.sopra.team1723.ctrl.BenutzerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KarteikartenServlet</servlet-name>
        <servlet-class>com.sopra.team1723.ctrl.KarteikartenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KommentarServlet</servlet-name>
        <servlet-class>com.sopra.team1723.ctrl.KommentarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotizServlet</servlet-name>
        <servlet-class>com.sopra.team1723.ctrl.NotizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilServlet</servlet-name>
        <servlet-class>com.sopra.team1723.ctrl.ProfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VeranstaltungServlet</servlet-name>
        <servlet-class>com.sopra.team1723.ctrl.VeranstaltungServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>FileUploadServlet</servlet-name>
    	<url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BenutzerServlet</servlet-name>
        <url-pattern>/BenutzerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KarteikartenServlet</servlet-name>
        <url-pattern>/KarteikartenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KommentarServlet</servlet-name>
        <url-pattern>/KommentarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotizServlet</servlet-name>
        <url-pattern>/NotizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilServlet</servlet-name>
        <url-pattern>/ProfilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VeranstaltungServlet</servlet-name>
        <url-pattern>/VeranstaltungServlet</url-pattern>
    </servlet-mapping>
    
    
<!--     Rewriting-Filter hinzufuegen -->
<filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>

    <!-- set the amount of seconds the conf file will be checked for reload
    can be a valid integer (0 denotes check every time,
    -1 denotes no reload check, default -1) -->
    <init-param>
        <param-name>confReloadCheckInterval</param-name>
        <param-value>60</param-value>
    </init-param>

    <!-- if you need to the conf file path can be changed
    it is specified as a path relative to the root of your context
    (default /WEB-INF/urlrewrite.xml) -->
    <init-param>
        <param-name>confPath</param-name>
        <param-value>/WEB-INF/urlrewrite.xml</param-value>
    </init-param>

    <!-- sets up log level (will be logged to context log)
    can be: slf4j, TRACE, DEBUG, INFO (default), WARN, ERROR, FATAL,
    sysout:{level} (ie, sysout:DEBUG)
    if you are having trouble using normal levels use sysout:DEBUG
    (default WARN) -->
    <init-param>
        <param-name>logLevel</param-name>
        <param-value>INFO</param-value>
    </init-param>

    <!-- you can change status path so that it does not
    conflict with your installed apps (note, defaults
    to /rewrite-status) note, must start with / -->
    <init-param>
        <param-name>statusPath</param-name>
        <param-value>/rewrite-status</param-value>
    </init-param>

    <!-- you can disable status page if desired
    can be: true, false (default true) -->
    <init-param>
        <param-name>statusEnabled</param-name>
        <param-value>true</param-value>
    </init-param>

</filter>

<filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
</filter-mapping>

</web-app>

